.canvas-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas_box {
    margin: 10px 0; /* Adjust spacing as needed */
}

#clear-button {
    /* Center the button */
    margin: 10px auto;
    display: block;
}


#chart_box {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.btn {
    width: 150px;
    color: white;
    background-color: #744167;
}


/* Default styles for narrow screens */
#canvas-container, #result_box {
    /* Styles for stacking elements vertically */
}

/* Styles for wide screens */
@media screen and (min-width: 1200px) {
    .wide-screen-layout {
        /* Styles for placing elements side by side */
        display: flex;
    }

    #canvas-container, #result_box {
        /* Adjust widths, margins, etc., to fit side by side */
        flex: 1;
    }
}