.canvas-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas_box {
    margin: 10px 0; /* Adjust spacing as needed */
}

#clear-button {
    /* Center the button */
    margin: 10px auto;
    display: block;
}


#chart_box {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.btn {
    width: 150px;
    color: white;
    background-color: #744167;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked {
    width: 100%; /* Adjust as needed */
    /* Additional styling for the stacked items */
}


/* Media query for screens wider than 1200px */
@media screen and (min-width: 1200px) {
    .container {
        flex-direction: row;
    }

    .stacked, #result_box {
        width: 99%;
        height: 99%; /* Adjust the width as needed */
        /* Additional responsive styling if needed */
    }
}
