.collapsible {
    display: flex;
    justify-content: space-between; /* This will push the indicator to the right */
    align-items: center; /* This will vertically center the text and indicator */
    background-color: #B2649F;
    color: white;
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
}

.indicator {
    font-size: 40px; /* Set the font size larger than the button text */
    margin-left: 10px; /* Optional: Adds some space between the button text and the indicator */
}

.active, .collapsible:hover {
background-color: #744167;
}

.content {
padding: 0 18px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #e4e4e4;
}

/* Base styles for carousel */
.carousel-inner img {
padding-top: 0.5em;
padding-bottom: 0.5em;
background-color: #e4e4e4;
width: 100%; /* Full width images */
height: auto; /* Height auto to maintain aspect ratio */
object-fit: cover; /* Cover the container without stretching */
}


/* Carousel images */
.carousel-inner .carousel-item img {
width: 100%; /* Make images take up the container width */
height: auto; /* Scale height automatically to preserve aspect ratio */
object-fit: cover; /* Cover the container without stretching */
}

/* Adjustments for larger screens */
@media only screen and (min-width: 992px) {
/* You can adjust this value based on when your layout needs changes */

    .carousel-inner {
        /* Set a max-width if the carousel is too wide on desktops */
        max-width: 40em;
        margin: 0 auto; /* Center the carousel */
    }

    .carousel-inner .carousel-item img {
        /* If you want to limit the height of images on large screens */
        max-height: 800px; /* Adjust this value as needed */
        
    }

    /* Adjust the size of carousel controls for larger screens */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 70px;
        width: 70px;
    }
}

/* Responsive adjustments for smaller screens */
@media only screen and (max-width: 600px) {
    /* Adjust carousel height for smaller screens */
    .carousel-inner .carousel-item img {
        height: auto; /* Let height scale with width to maintain aspect ratio */
    }
}


