*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

h1{
  font-size: 80px;
  color: #212121;
  margin-bottom: 10px;
}

h3{
  font-size: 50px;
  color: #212121;
  margin-bottom: 10px;
}

p{
  color: #555;
  line-height: 30px;
}


@media only screen and (max-width: 800px) {
    h1{
      font-size: 50px;
      color: #212121;
      margin-bottom: 10px;
    }
  
    h3{
        font-size: 30px;
        color: #212121;
        margin-bottom: 10px;
    }
  
    p{
        color: #555;
        line-height: 22px;
    }
  
    .stack span {
      font-size: 30px;
    }
  
  }
  
/*NAVBAR CODE*/
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    background-color: #CFE8FF;
}

.logo{
    width: 200px;
    height: auto;
}

.headerSpace{
    width: 40%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav ul li a:hover{
    color: blue;
}

@media only screen and (max-width: 1000px) {
    nav ul li a{
        padding-left: 60px;
    }

    .logo{
        width: 150px;
        height: auto;
    }
}