
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    background-color: #CFE8FF;
}

.logo{
    width: 200px;
    height: auto;
}

.headerSpace{
    width: 40%;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav ul li a:hover{
    color: blue;
}

@media only screen and (max-width: 1000px) {
    a{
        padding-left: 60px;
    }

    .logo{
        width: 150px;
        height: auto;
    }
}